.titleCourseSelect{
    font-style: normal;
    font-size: 70px;
    color: var(--secondary);
    font-weight: 450;
    /* center text to page; */
    margin: auto;
    width: 50%;
    text-align: center;
}